@charset "UTF-8";


.header__nav w-120 {
    display: flex;
    align-items: center;        
    justify-content: space-between; 
    padding: 10px 20px;   
}
.header__nav__content ul{
	list-style: none;
	display: flex;
}
.header__nav__content ul li{
	padding: 10px 30px;
	position: relative;
}
.header__nav__content ul li a{
	font-size: 20px;
    list-style: none;
	display: flex;
    text-decoration: none;
}
.header__nav__content ul li a:hover{
	color: rgb(1, 171, 103);
}

.content {
    padding-top: 200px;
}
.card-footer{
	font-size: 15px;
}
.text-muted{
	font-size: 15px;
}

